*{
    font-family: poppins;
    margin: 0;
}

.LPcontent{
    padding: 16px;
    margin: 25px;
}

.LPCont1{
    max-width: 739px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.LPcontent h1{
    font-size: 60px;
    margin-bottom: 8px;
    color: #1F2937;
}

.LPcontent h1 span{
    color: #7FDBCA;
}

.LPcontent p{
    color: #4B5563;
    font-size: 20px;
    max-width: 611px;
}

.LPbutton button{
    font-size: 18px;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LPbutton{
    display: flex;
    gap: 20px;
    height: 64px;
}

#LPBtn1 {
    border: 0;
    background: linear-gradient(90deg, rgba(127, 219, 202, 1) 0%, rgba(135, 206, 235, 1) 100%);
    transition: background 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

#LPBtn1 a {
    color: white;
    text-decoration: none;
    transition: color 0.4s ease;
}

#LPBtn1:hover {
    background: linear-gradient(90deg, rgba(135, 206, 235, 1) 0%, rgba(135, 206, 235, 1) 100%);
}


#LPBtn2 {
    border: 2px solid #87CEEB;
    background: none;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

#LPBtn2 a {
    color: #87CEEB;
    text-decoration: none;
    transition: color 0.4s ease;
}

#LPBtn2:hover {
    background-color: #87CEEB;
}

#LPBtn2:hover a {
    color: #ffffff;
}

