* {
  font-family: poppins;
  margin: 0;
}

.LPcontent {
  padding: 16px;
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.LPCont1 {
  max-width: 739px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.LPcontent h1 {
  font-size: 60px;
  margin-bottom: 8px;
  color: #1f2937;
}

.LPcontent h1 span {
  color: #7fdbca;
}

.LPcontent p {
  color: #4b5563;
  font-size: 20px;
  max-width: 611px;
}

.LPbutton {
  display: flex;
  gap: 20px;
  height: 64px;
}

.LPbuttonLink,
.LPbuttonLink2 {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.LPbuttonLink {
  color: white;
  background: linear-gradient(90deg, rgba(127, 219, 202, 1) 0%, rgba(135, 206, 235, 1) 100%);
}

.LPbuttonLink:hover {
  background: linear-gradient(90deg, rgba(135, 206, 235, 1) 0%, rgba(135, 206, 235, 1) 100%);
}

.LPbuttonLink2 {
  color: #87ceeb;
  border: 2px solid #87ceeb;
  background: none;
}

.LPbuttonLink2:hover {
  background-color: #87ceeb;
  color: white;
}

.LPCont2 img {
  max-width: 557px;
  width: 100%;
}
