*{
    font-family: poppins;
    margin: 0;
}

a{
    text-decoration: none;    
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper a{
    font-family: plus jakarta sans;
}

nav{
    padding: 16px;
    height: 80px;
    margin: 25px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;    
    font-weight: 600;
    font-size: 24px;
}

.logo a{
    color: #1F2937;   
    font-weight: 700; 
}

.logo img{
    width: 40px;
}

.menu a{
    color: #374151;
    font-size: 20px;
    font-weight: 500;
}
.menu ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu button{
    border-radius: 30px;
    border: 0;
    width: 168px;
    height: 48px;
    background: linear-gradient(90deg,rgba(127, 219, 202, 1) 0%, rgba(135, 206, 235, 1) 100%);
}

.menu button a{
    color: white;  
    font-size: 16px;

}

ul{
    list-style: none;
}

