*{
    font-family: poppins;
    margin: 0;
}

a{
    text-decoration: none;    
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper a{
    font-family: plus jakarta sans;
}

nav{
    padding: 16px;
    height: 70px;
    margin: 25px;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 0;
    margin-bottom: 0;    
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;    
    font-weight: 600;
    font-size: 24px;
}

.logo a{
    color: #1F2937;   
    font-weight: 700; 
}

.logo img{
    width: 40px;
}

.menu a{
    color: #374151;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.menu a:hover{
    color: #7FDBCA;
}

.menu button a:hover{
    color: #ffffff
}

.menu ul{
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu li{
    margin-right: 20px;
}

.menu img{
    height: 48px;    
    border-radius: 30px;
    transition: all 0.3s ease;
}

.menu img:hover{
    filter: brightness(0.8);
}

.menu button{
    border-radius: 30px;
    border: 0;
    width: 168px;
    height: 48px;
    background: linear-gradient(90deg, rgba(127, 219, 202, 1) 0%, rgba(135, 206, 235, 1) 100%);
    transition: all 0.4s ease;
}

.menu button:hover{
    background: linear-gradient(90deg, rgba(135, 206, 235, 1) 0%, rgba(135, 206, 235, 1) 100%);
    transform: scale(0.97);
}

.menu button a{
    color: white;  
    font-size: 16px;
}

ul{
    list-style: none;
}

.nav-avatar {
  display: flex;
  align-items: center;
}

.nav-avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-avatar-img:hover {
  filter: brightness(0.85);
}

.menu ul li {
  display: flex;
  align-items: center;
}

.logoutBtn {
    border-radius: 30px;
    border: 0;
    width: 168px;
    height: 48px;
    background: linear-gradient(90deg, rgba(127, 219, 202, 1) 0%, rgba(135, 206, 235, 1) 100%);
    transition: all 0.4s ease;
    font-size: 16px;
    color: white;
    font-family: plus jakarta sans;
    cursor: pointer;
}

.logoutBtn:hover {
    background: linear-gradient(90deg, rgba(135, 206, 235, 1) 0%, rgba(135, 206, 235, 1) 100%);
    transform: scale(0.97);
}

.menu ul li.nav-avatar {
    margin-right: 8px !important;
}

.logoutBtn {
    margin-left: -8px;
}
